<div class="row">
    <div class="col-md-6 col-md-offset-4 loginbox">
        <div class="login-panel panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title" translate>login.title</h3>
            </div>
            <div class="panel-body">
                <form name="form" role="form" novalidate>
                    <fieldset>
                        <div class="form-group">
                            <input class="form-control" placeholder="{{'username' | translate}}" name="username"  required
                            	type="text" autofocus ng-model="credentials.username" autocomplete="off">
                            <div ng-messages="form.username.$error" ng-if="form.username.$dirty" class="has-error">
                                <div class="help-block" ng-message="required">{{'field.required' | translate}}</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="{{'password' | translate}}" name="password" type="password" required 
                            	value="" ng-model="credentials.password" autocomplete="off">
                            <div ng-messages="form.password.$error" ng-if="form.password.$dirty" class="has-error">
                                <div class="help-block" ng-message="required">{{'field.required' | translate}}</div>
                            </div>
                        </div>
                        <!-- Change this to a button or input when using this as a form -->
                        <a ng-click="form.$valid && login()" ng-disabled="form.$invalid" class="btn btn-lg btn-primary btn-block" translate>login</a>
                    </fieldset>
                </form>
            </div>
        </div>
        <a href="#register" translate>to.register.page</a>
    </div>
</div>
